@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab");

body{
	margin:0;
	background-image: url(https://images2.alphacoders.com/106/1063352.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body p{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

body section{
	text-align: center;
}
/*Navegacion*/
nav{
	font-family: 'Roboto Slab', serif;
	width: 40%;
	margin-left: 20px;
}
nav ul{
	text-decoration: none;
	list-style: none;
}
nav li{
	display: inline-block;
	padding: 15px;
	border-bottom:1px solid #815EE1;
	border-right: 1px solid #815EE1;
}


/*logearse*/

section{
	width: 400px;
	height: 200px;
	background-image: linear-gradient(to bottom right,rgba(110, 233, 233 ,0.4), rgb(233, 110, 111),rgb(171, 110, 233, 0.3));
	border-radius: 10px;
	color: #33334B;
	margin-top: 10%;
	margin-left: 60%;
}
section div{
	padding-top: 10px;
}

input{
	background: rgb(104, 74, 159, 0.4);
	border: none;
	border-radius: 10px;
}

p{
	margin: 5px;
}

a{
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

a:visited{
	color: black;
}